<div *ngFor="let item of form | sortByButton:(dirrection$ | async):(type$ | async) | sortByInput:(input$ | async)" class="item_container" appChangeBorderColor>
    <img class="img_main_card" src="{{item.snippet.thumbnails.medium.url}}" alt="">
    <div class="stat_block">
        <div class="stat_item">
            <img src="../../../../assets/icons/viewed.svg" alt="">
            <p>{{item.statistics.viewCount}}</p>
        </div>
        <div class="stat_item">
            <img src="../../../../assets/icons/liked.svg" alt="">
            <p>{{item.statistics.likeCount}}</p>
        </div>
        <div class="stat_item">
            <img src="../../../../assets/icons/dislike.svg" alt="">
            <p>{{item.statistics.dislikeCount}}</p>
        </div>
        <div class="stat_item">
            <img src="../../../../assets/icons/comments.svg" alt="">
            <p>{{item.statistics.commentCount}}</p>
        </div>
    </div>
    <p class="name_video">{{item.snippet.title}}</p>
    <button>more...</button>
</div>
<div>
</div>
