<header class="header">
    <img src="../../assets/images/logo.png" class="logo" alt="logo">
    <form action="" class="search_form">
        <input type="text" class="input_search" placeholder="What are you want to find out?">
        <input type="submit" value="search" class="submit_search"  (click)="getSearchState($event)">
    </form>
        <!-- <button type="submit" form="searchForm" value="search"></button> -->
    <app-button-setting>
    <!-- (ToggleSortPanelEvent)="onNotify($event)"> -->
    </app-button-setting>
    <app-login></app-login>
</header>
