<div *ngFor="let item of form" class="item_container" [ngClass]="{
   border_blue: differenceDate(item.snippet.publishedAt) < 7,
   border_green: differenceDate(item.snippet.publishedAt) < 30 && differenceDate(item.snippet.publishedAt) > 7,
   border_red: differenceDate(item.snippet.publishedAt) > 183
}">
        <img src="{{item.snippet.thumbnails.default.url}}" alt="">
        <!-- <app-statistic></app-statistic> -->
        <p>{{item.snippet.title}}</p>
        <button>more...</button>
    </div>
    <div>
    </div>

