.item_container {
    width: 264px;
    height: 327px;
    background: #e5e5e5;
    border-radius: 5px;
    margin: 10px;
}

img {
    width: 223px;
    height: 123px;
    margin: 20px;
}

.border_green {
    border-bottom: 5px solid #27ae60;
}

.border_blue {
    border-bottom: 5px solid #2f80ed;
}

.border_red {
    border-bottom: 5px solid #eb5757;
}
