.login_container {
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.login_btn {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.log_btn {
    width: 80px;
    height: 30px;
    background: #2f80ed;
    border-radius: 5px;
    filter: drop-shadow(2px 0px 4px #2f80ed);
    border: none;
    cursor: pointer;
}
